.btn {
  display: inline-block;
  padding: 13px 30px;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s ease;
  transition-property: background, color, border-color, box-shadow;
}
.btn-primary {
  background: var(--primary);
  color: var(--white);
}
.btn-secondary {
  background: var(--secondary);
  color: var(--white);
}
.btn-secondary:hover {
  background: var(--secondary-dark);
}
.btn-secondary:focus {
  box-shadow: 0 0 0 3px var(--secondary);
}
.btn-primary:hover {
  background: var(--primary-dark);
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px var(--primary);
}
.control {
  background: var(--white);
  padding: 13px 10px;
  transition: border 0.2s ease;
  border: solid 2px var(--primary-light);
}
.control:focus {
  border: solid 2px var(--primary);
}
